h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: black;
    padding: 10px;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(56, 61, 87);
}

#product-pics {
    display: flex;
    /* justify-content: space-evenly; */
}

#product-one-img {
    width: 300px;
    border-style: solid;
}

#product-two-img {
    width: 300px;
    border-style: solid;
}

#product-three-img {
    width: 300px;
    border-style: solid;
}

#product-clicks {
    display: none;
}
