h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#product-pics {
    display: flex;
    /* justify-content: space-evenly; */
}

#product-one-img {
    width: 300px;
    border-style: solid;
}

#product-two-img {
    width: 300px;
    border-style: solid;
}

#product-three-img {
    width: 300px;
    border-style: solid;
}

#product-clicks {
    display: none;
}